/* GENERAL */

body {
  background-color: #141414;
  color: #fff;
  margin: 0;
  padding: 0;
  font-family: 'Lato', sans-serif;
}

a,
a:hover,
a:link,
a:active,
a:visited {
  outline: none;
}

/* HEADER */

.header {
  background-color: rgba(0, 0, 0, .4);
  position: absolute;
  height: 52px;
  width: 100%;
}

.header__back,
.header__logo,
.header__config {
  display: inline-block;
  width: 33%;
}

.back__arrow {
  border: solid white;
  border-width: 0 3px 3px 0;
  display: inline-block;
  margin: 2px 20px;
  padding: 7px;
  transform: rotate(135deg);
  -webkit-transform: rotate(135deg);
}

.header__logo {
  margin: auto;
}

.logo__a {
  text-decoration: none;
}

.logo__h1 {
  color: #fff;
  font-size: 30px;
  margin: 0 auto;
  padding: 7px 0;
  text-align: center;
}

/* MENU */
.menu {
  background-color: rgba(0,0,0,.3);
  padding: 3em 0 3em;
  text-align: center;
}

.menu__link {
  border: 1px solid rgba(250,250,250,.3);
  border-radius: 2px;
  color: #fff;
  display: inline-block;
  margin: 0 1%;
  padding: 10px;
  text-decoration: none;
  width: 84px;
}

.menu__name {
  font-size: 17px;
  margin: 3px 0 0;
}

.menu__img {
  height: auto;
  width: 60px;
}

/* SCHEDULE */

.schedule {
  padding: 3em 0 5em;
}

.schedule__table {
  border-spacing: 1px;
  margin: auto;
}

.table__th {
  font-size: 17px;
  padding: 5px 0;
}

.table__td {
  height: 10%;
  width: 10%
}

.table__a {
  color: #fff;
  display: block;
  font-size: 14px;
  font-weight: 700;
  letter-spacing: 1px;
  padding: 4px 0 7px 5px;
  text-decoration: none;
}

.table__td span {
  display: block;
  letter-spacing: 0px;  
  font-size: 10px;
  font-weight: lighter;  
}

/* TESTS */
.tests {
  margin: 0 0 3em;
  padding: 6em 3px;
}

.test__h2 {
  background-color: crimson;
  color: #fff;
  display: block;
  font-size: 25px;
  letter-spacing: 8px;
  margin: auto;
  max-width: 700px;
  padding: 10px 0 15px;
  text-align: center;
}

.test__content {
  border-left: 4px solid rgba(0, 0, 0, .2);
  border-radius: 3px;
  color: #fff;
  margin: 0 auto;
  max-width: 450px;
  padding: 5px 0 4px;
}

.test__content +
.test__content {
  margin-top: 1em;
}

.test__date,
.test__info {
  display: inline-block;
}

.test__date {
  border-right: 1px solid #ccc;
  font-size: 22px;
  font-weight: bolder;
  margin: 5px 0;
  padding: 5px 15px;
  vertical-align: top;
}

.test__date__day,
.test__date__month {
  display: block;
  text-align: center;
}

.test__date__day {font-size: 28px;}

.test__date__month {
  font-size: 14px;
  font-weight: 300;
  letter-spacing: 2px;
}

.test__info {
  padding: 12px 25px;
}

.test__matterName,
.test__matterTest {
  margin: 0;
  padding: 0;
}

.test__matterName {
  font-size: 22px;
}

.test__matterTest {
  font-size: 17px;
  font-weight: lighter;
}

/* LEITURAS */
.leituras {
  padding: 5em 0 5em;
  text-align: center;
}

.leituras__book {
  background-color: #fff;
  border: 3px solid crimson;
  display: inline-block;
  height: 437px;
  margin: 10px;
  padding: 0;
  vertical-align: top;
  width: 250px;
}

.leituras__book__capa {
  display: block;
  height: 140px;
  padding: 20px 0;
  margin: auto;
  width: auto;
}

.leituras__book__ul {
  background-color: crimson;
  height: 257px;
  padding: 0 10px;
  margin: 0;
}

.leituras__book__li {
  list-style: none;
  font-size: 17px;
  font-weight: 300;
  padding: 10px 0;
  text-align: left;
}

.leituras__book__li span {
  display: block;
  font-size: 15px;
  font-weight: 700;
}

/* MATTER HEADER */

.matterHeader {
  padding: 10em 0 7em; 
  text-align: center;

  -webkit-box-shadow: inset 0px -47px 50px -43px rgba(0,0,0,0.75);
  -moz-box-shadow: inset 0px -47px 50px -43px rgba(0,0,0,0.75);
  box-shadow: inset 0px -47px 50px -43px rgba(0,0,0,0.75);
}

.matterHeader__title {
  font-size: 60px;
  letter-spacing: 5px;
  margin: 0;
  text-shadow: 2px 2px #000;
}

.matterHeader__teacher {
  font-weight: 300;
  margin: 10px 0;
}

/* MATTER NOTA */
.matterNota,
.matterContent {
  display: table;
  text-align: center;  
  margin: 4em auto;
}

.matterNota__table {
  border-spacing: 0 2px;  
}

.matterNota__title,
.matterContent__title {
  color: #fff;
  display: block;
  letter-spacing: 7px; 
  font-size: 24px;
  margin: 0;
  width: 244px;
  padding: 10px;
}

.matterNota__error {
  background-color: #fff;
  font-weight: bolder;
  margin: 2px auto;
  padding: 12px 0;
  text-align: center;
  width: 264px;
}

.matterNota__th {
  background-color: #fff;
  font-size: 17px;
  padding: 6px;
  text-transform: uppercase;
  width: 120px;
}

.matterNota__td {
  color: #fff;
  font-size: 18px;
  font-weight: 300;
  padding: 4px;
}

/* MATTER CONTENT */
.matterContent__box {
  background-color: #fff;
  margin-top: 2px;
  padding: 0 0 1em;
  width: 264px;
}

.matterContent__ul {
  color: #000;
  list-style: none;
  margin: 0 0 1em;
  padding: 5px 1.5em 0;
  text-align: left;
}

.matterContent__li {
  font-size: 17px;
  font-weight: 300;
  padding: 10px 0 10px;
}

.matterContent__li +
.matterContent__li {
  border-top: 1px solid #ccc;
}

.matterContent__btn {
  border-radius: 3px;
  color: #fff;
  display: table;
  letter-spacing: 2px;
  font-weight: bold;
  margin: auto;
  padding: 6px 15px 7px;
  text-decoration: none;
  transition-duration: .1s;
}

.matterContent__btn:hover {
  transform: scale(1.02)
}

/* CONTEUDOX */
/* headerPage */
.headerPage {
  padding: 7em 0 4em;
  text-align: center;
}

.siteTitle {
  margin-bottom: 1em;
}

.siteTitle__image,
.siteTitle__name {
  display: inline-block;
}

.siteTitle__image {
  height: 60px;
  margin-right: 10px;
  padding: 9px 0;
  width: auto;
}

.siteTitle__name {
  font-size: 36px;
  letter-spacing: 2px;
  padding: 9px 0;
  margin: 10px 0;
  vertical-align: top;  
}

.emAno {
  border: 1px solid #fff;
  border-radius: 3px;
  color: #fff;
  font-weight: bold;
  margin: 8px;
  padding: 4px 7px;
  text-decoration: none;
}

.emAno:hover {
  background-color: #fff;
  color: #141418;
}

.emAno-active {
  background-color: #fff;
  color: #141418;
}

/* home page */

.menu__content{
  display: block;
  padding-top: 2em;
  text-align: center;
}

.menu__materia {
  display: block;
  margin: 40px 10px;
  text-align: center;
}

.menu__materia__box {
  background-color: #f1f1f1;
  box-shadow: 5px 5px 15px rgba(0, 0, 0, .7);
  border-radius: 3px;  
  list-style: none;
  padding: 6px 0;
  text-align: left;
  width: 300px;
}

.menu__materia--a {
  display: inline-block;
  text-decoration: none;
}

.menu__materia__box--img {
  display: inline-block;
  height: auto;
  max-width: 50px;
  padding-left: 10%
}

.menu__materia__box--name {
  color: #000;
  display: inline-block;
  font-size: 26px;
  font-weight: 600;
  letter-spacing: 1px;
  padding: 9px 5%;
  text-transform: uppercase;
  vertical-align: top;
}

/* list of content */

.back {
  margin: 1em;
  text-align: center;
}

.back--btn {
  background-color: rgba(0, 0, 0, .4);
  border-radius: 5px;
  color: #fff;
  font-size: 17px;
  font-weight: 300;
  text-decoration: none;
  padding: 5px 7px 5px 10px;
}

.arrow {
	border: solid rgba(250,250,250,.9);
  border-width: 0 2px 2px 0;
  display: inline-block;
  padding: 5px;

}
.arrow__back {
  transform: rotate(135deg);
  -webkit-transform: rotate(135deg);
}
.arrow__next {
  transform: rotate(315deg);
  -webkit-transform: rotate(315deg);
}


.back--txt {
  display: inline-block;
  letter-spacing: 2px;
  text-transform: uppercase;
}

.back--btn:hover {
  background-color: rgba(0, 0, 0, .6)
}

.materiaAno__ano {
  font-size: 23px;
  letter-spacing: 3px;
  margin-bottom: 4em;
  text-align: center;
}

.materia__lista {
  padding: 5em 0 1em;
  text-align: center;
}

.materia__lista--img {
  display: inline-block;
  height: 60px;
  width: 60px;
}

.materia__lista--name {
  display: inline-block;
  font-size: 32px;
  letter-spacing: 10px;
  margin: 0;
  padding: 11px;
  text-align: center;
  text-transform: uppercase;
  vertical-align: top;
}

.lista__trimestre,
.maisMaterias__box {
  color: #f0f0fa;
  margin: 4%;
}

.lista__trimestre--title {
  letter-spacing: 2px;
}

.sublistTitle {
  font-weight: 700;
}

.lista__trimestre__conteudo--ul {
  margin: 20px 0 40px 25px; 
}

.lista__trimestre__conteudo--sublist {
  margin: 0 0 40px 25px;
}

.lista__trimestre__conteudo--li {
  margin: 15px 0;
  font-size: 18px;
  letter-spacing: 1px;
}

.new {
  background-color: rgba(0,0,0,0.3);
  border-radius: 3px;
  font-size: 12px;
  padding: 3px 6px;
  text-transform: uppercase;
}

/* more mattars */
.maisMaterias {
  text-align: center;
  clear: both;
}

.maisMaterias--a {
  background-color: rgba(250, 250, 250, .95); 
  border-radius: 3px;
  color: #000;
  display: block;
  font-weight: 700;
  margin: 10px 0; 
  padding: 5px 10px;
  text-align: center;
  text-decoration: none;
}

.maisMaterias--a .arrow {
  border: solid #000;
  border-width: 0 2px 2px 0;
  padding: 9px;
  margin: 8px 5px;
}

.maisMaterias--a .arrow,
.maisMateria--nomeDaMateria,
.maisMateria--img {
  display: inline-block;
}

.maisMateria--img {
  width: 40px;
  height: 100%;
  margin: 0 12px;
}

.maisMateria--nomeDaMateria {
  font-size: 26px;
  vertical-align: top;
  margin: 5px 0 0;
  letter-spacing: 1px;
}

/* MEDIA QUERY */
@media (min-width: 768px) {
  /* HEADER */
  .back__arrow {
    margin: 2px 35px;
  }

  /* MENU */
  .menu__link {
    margin: 0 3%;
    padding: 15px 20px;
    width: 90px;
  }
  
  .menu__name {
    font-size: 18px;
  }
  
  .menu__img {
    width: 80px;
  }

  /* SCHEDULE */
  .table__th {
    font-size: 20px;
    padding: 5px 0;
  }

  .table__td {
    height: 0;
    width: 0;
  }
  
  .table__a {
    font-size: 17px;
    padding: 3px 60px 20px 6px;
    width: 80px;
  }

  .table__td span {
    display: block;
    letter-spacing: 0px;  
    font-size: 12px;
    font-weight: lighter;  
  }

  /* TEST */
  
  

  /* MATTER DATE AND CONTENT */
  .matterNota,
  .matterContent {
    display: inline-block;
    margin: 5em 6em;
    vertical-align: top;
  }

  .matterBody {
    text-align: center;
  }

  /* CONTEUDOX */
  /* home page */
  .menu__content {
    margin: auto; 
    max-width: 1300px;
  }

  .menu__materia {
    display: inline-block;
    margin: 30px 10px;
  }

  .menu__materia__box {
    width: 220px;
    height: 200px;
    transition: all .1s;  
  }

  .menu__materia__box--img {
    display: table;
    margin: auto;
    max-width: 100px;
    padding: 25px 0 5px;
  }

  .menu__materia__box--name {
    display: table;
    font-size: 20px;
    font-weight: 600;
    margin: auto;
    padding-top: 15px;
  }
  
  .menu__materia__box:hover {
    -moz-transform:  translate(0px, -6px);
    -webkit-transform:  translate(0px, -6px);
    -o-transform:  translate(0px, -6px);
    -ms-transform:  translate(0px, -6px);
    transform: translate(0px, -6px);
  }

  .menu__materia__box:active,
  .maisMaterias__back:active,
  .maisMaterias__next:active {
    -moz-transform: scale(0.97);
    -webkit-transform: scale(0.97);
    -o-transform: scale(0.97);
    -ms-transform: scale(0.97);
    transform:scale(0.97);
  }

  /* list of content */

  .back {
    margin: 1em 3em 0;
    position: fixed;
    text-align: left;
  }

  .materia__lista {
    margin-top: 0;
    padding-top: 5em;
  }

  .lista__trimestre,
  .maisMaterias__box {
    margin: 4% 22%;
  }

  /* more matters */
  .maisMaterias__back,
  .maisMaterias__next {
    display: inline-block;
    min-width: 48%; 
  }

  .maisMaterias--a:hover,
  .maisMaterias--a:hover {
    background-color: rgba(250, 250, 250, .88);
  }
}

@media (min-width: 1200px) {
  .maisMaterias__back, 
  .maisMaterias__next {
    margin: 0 5px;
  }
}

/* TESTE */

/*
 * Keyframes
 */

 @keyframes fadeIn {
  0% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
}

@keyframes fadeInUp {
  0% {
    opacity: 0;
    transform: translate3d(0, 100%, 0);
  }

  100% {
    opacity: 1;
    transform: none;
  }
}

@keyframes fadeInRight {
  0% {
    opacity: 0;
    transform: translate3d(100%, 0, 0);
  }

  100% {
    opacity: 1;
    transform: none;
  }
}

.scene_element {
  animation-duration: .2s;
  transition-timing-function: ease-in;
  animation-fill-mode: both;
}

/** An element that fades in */
.scene_element--fadein {
  animation-name: fadeIn;
}

/** An element that fades in and slides up */
.scene_element--fadeinup {
  animation-name: fadeInUp;
}

/** An element that fades in and slides from the right */
.scene_element--fadeinright {
  animation-name: fadeInRight;
}